.image-background {
  background-image: url('/assets/wallpaper/wallpaper3.jpg');
  background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(3px); /* Applique un flou sur le fond */
    z-index: -1; /* Place le fond derrière le contenu */
}

.image-wrapper {
  height: 93vh;
  width: 100%;
}

.rank-table th,
.rank-table tr,
.rank-table td {
  background-color: rgba(64,64,64,.5);
  font-weight: bold;
  color: white;
  font-size:20px;
  border: none;
  padding: 0;
}

.rank-table ::ng-deep .p-datatable-wrapper {
  padding: 0;
  margin-top : 1%;
  border-radius: 3px;
}

.export-button {
  right:0px;
  position: absolute;
  z-index: 999;
}
