/* Cup Component - PrimeNG Table Overrides */

::ng-deep .rank-table th,
::ng-deep .rank-table tr,
::ng-deep .rank-table td {
  background-color: rgba(64, 64, 64, .5) !important;
  font-weight: bold !important;
  color: white !important;
  font-size: 20px !important;
  border: none !important;
  padding: 0 !important;
}

::ng-deep .rank-table .p-datatable-wrapper {
  padding: 0;
  margin-top: 1%;
  border-radius: 3px;
}