

.image-wrapper {
  position: relative;
  height: 93vh;
  width: 100%;

  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center; /* Centre le texte si nécessaire */
}

.image-background {
  background-image: url('/assets/wallpaper/wallpaper2.jpeg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(3px); /* Applique un flou sur le fond */
  z-index: -1; /* Place le fond derrière le contenu */
}

.content-wrapper {
  display: flex;
  flex-direction: column; /* Met les éléments en colonne (verticalement) */
  justify-content: center;
  align-items: center; /* Centre tout horizontalement */
}

.people-container {
  position: relative;
  z-index: 1; /* Assure que la people container est au-dessus du fond */
  padding: 20px;
  filter: none; /* Pas de flou sur la people container */
  color: white; /* Couleur du texte pour contraste */
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 35px;
  width: 500px;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center;
  margin-bottom: 20px; /* Espace entre la people-container et le bouton */
}

.button-spiner ::ng-deep .p-button {
  width: 500px;
  background: linear-gradient(to right, rgba(65, 65, 65, 0) 0%, rgba(65, 65, 65, 0.9) 50%, rgba(65, 65, 65, 0) 100%);
  border: none; /* Enlève la bordure si tu veux un style lisse */
}

.button-spiner:hover {
  transform: scale(1.2);
}

.pool {
  width: 285px;
  height: 600px;
  left:0!important;
  margin-left:3%;
  position: absolute;
  background: rgba(65, 65, 65, 0.5);
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne lorsque le nombre d'éléments dépasse la largeur */
  gap: 10px; /* Espace entre les images (ajustable) */
  border-radius: 20px;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center; /* Centre le texte si nécessaire */
}

.exclude-pool {
  width: 285px;
  height: 450px;
  right:0!important;
  margin-right:3%;
  position: absolute;
  background: rgba(65, 65, 65, 0.5);
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne lorsque le nombre d'éléments dépasse la largeur */
  gap: 10px; /* Espace entre les images (ajustable) */
  border-radius: 20px;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center; /* Centre le texte si nécessaire */
}

.pool-image ::ng-deep .p-image {
  flex: 1 1 calc(33.33% - 20px); /* 3 images par ligne, avec un peu d'espace pour le gap */
  max-width: 100%; /* S'assurer que les images ne dépassent pas leur conteneur */
  height: auto; /* Maintient le ratio d'aspect des images */
  object-fit: cover; /* Ajuste l'image si nécessaire pour remplir la zone */
}

.exclude-pool-image {
  flex: 1 1 calc(33.33% - 20px); /* 3 images par ligne, avec un peu d'espace pour le gap */
  max-width: 100%; /* S'assurer que les images ne dépassent pas leur conteneur */
  height: auto; /* Maintient le ratio d'aspect des images */
  object-fit: cover; /* Ajuste l'image si nécessaire pour remplir la zone */
  filter: grayscale(100%); /* Convertit l'image en noir et blanc */
}

.star {
  right:0;
  bottom: 0;
  margin-bottom: 3%;
  margin-right: 3%;
  position: fixed;
}

.star:hover {
  cursor: pointer;
  animation: bounce .9s infinite;
}

.pool-title {
  font-weight: bold;
  color: white;
  font-size:45px;
  -webkit-text-stroke: 3px black;
}

.avatar-container {
  position: relative; /* Crée un contexte de positionnement pour le badge */
  display: inline-block; /* Assure que le conteneur s'ajuste à l'image */
}

.badge-del {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Assure que le badge est au-dessus de l'image */
}

.badge-del:hover {
  cursor: pointer
}

.avatar-container:hover {
  animation: shake 0.5s; /* Appliquer l'animation tremblement sur hover */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0); /* Position initiale */
  }
  25% {
    transform: translateX(-2px); /* Déplacement vers la gauche */
  }
  50% {
    transform: translateX(2px); /* Déplacement vers la droite */
  }
  75% {
    transform: translateX(-2px); /* Déplacement vers la gauche */
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Position initiale */
  }
  25% {
    transform: translateY(-10px); /* Saut vers le haut */
  }
  50% {
    transform: translateY(0); /* Position initiale */
  }
  75% {
    transform: translateY(-10px); /* Saut vers le haut */
  }
}
