<div class="image-wrapper">

  <p-scrollPanel [style]="{ width: '285', height: '550px' }" class="pool" *ngIf="avatars.length > 0">
    <p class="pool-title">Pool</p>
    <p-image *ngFor="let avatar of avatars"
       class="pool-image"
       [src]="'http://localhost:8080/images/' + avatar"
      alt="pool"
      width="70"/>
  </p-scrollPanel>


  <div class="image-background"></div>
  <p-toast />
  <div class="content-wrapper">
    <div class="people-container">
      <p-image class="slot-image"
        [src]="'http://localhost:8080/images/' + avatar"
        alt="personnage"
        width="250"/>
    </div>
    <p-button class="button-spiner"
              [disabled]="isLoading"
              label="Tourner la roue"
              (click)="onSpin()"></p-button>
  </div>

  <p-scrollPanel [style]="{ width: '285', height: '450px' }" class="exclude-pool" *ngIf="excludeAvatars.length > 0">
    <p class="pool-title">Sont déjà passés</p>
    <div *ngFor="let avatar of excludeAvatars" class="avatar-container">
      <p-badge [value]="'X'" severity="danger" class="badge-del" (click)="introduceAvatarByName(avatar)"/>
      <p-image
               class="exclude-pool-image"
               [src]="'http://localhost:8080/images/' + avatar"
               alt="pool"
               width="70"/>
    </div>
  </p-scrollPanel>

  <p-image
    class="star"
    pTooltip="Reset la pool"
    tooltipPosition="top"
    src="assets/button/star.png"
    alt="personnage"
    (click)="resetExcludeAvatars()"
    width="100"/>
</div>
