.grid-background {
  background-color: rgba(45,45,45,.7); /* Couleur de fond foncée */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 30px 30px; /* Taille de chaque cellule de la grille */
  width: 100%;
  height: 93vh; /* S'étend sur toute la hauteur de la fenêtre */
}

.image-background {
  background-image: url('/assets/wallpaper/wallpaper4.jpeg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(3px); /* Applique un flou sur le fond */
  z-index: -1; /* Place le fond derrière le contenu */
}

.title-page {
  height: 80px;
  width: 400px;
}

.title-historique, .title-page {
  margin-top: 2%;
  font-size:28px;
}

.title-historique {
  position: relative;
  top: 0!important;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column; /* Met les éléments en colonne (verticalement) */
  justify-content: center;
  align-items: center; /* Centre tout horizontalement */
}

.ranks-list ::ng-deep .p-listbox {
  margin-top: 1%;
  margin-left: 3%;
  position: fixed;
  left: 0;
  border-radius: 15px;
  background-color: rgba(64,64,64,.9);
  color: white;
  font-weight: bold;
  padding:0;
}

.rank-info {
  margin-top: 3%!important;
  height: 250px;
  width: 850px!important;
    width: fit-content;
}

.rank-info, .title-page {
  background-color: rgba(64,64,64,.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #999; /* Bordure grise fine */
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column; /* Met les éléments en colonne (verticalement) */
  justify-content: center;
  align-items: center; /* Centre tout horizontalement */
}

.rank-image {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Rend l'image ronde */
  object-fit: cover; /* Assure que l'image garde ses proportions */
}

.rank-details {
  display: flex;
  align-items: center; /* Aligne le texte verticalement au centre */
  gap: 100px; /* Espace entre les éléments textuels */
  color: white;
}

.rank-name {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.rank-points, .rank-position {
  font-size: 14px;
  color: white;
}

.update-infos {
  margin-top: 4%;
  margin-left: 3%;
  width: 58%;
  position: relative;
  left: 0;
  color: white;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
  gap: 10px; /* Espace entre les éléments */
}


.dropdown-console ::ng-deep .p-dropdown {
  width: 200px;
}

.input-container {
  display: flex;
  align-items: center; /* Aligner les éléments verticalement au centre */
  gap: 26px; /* Espacement entre les éléments */
}

.points-container {
  display: flex;
  flex-direction: column; /* Mettre le label au-dessus de l'input */
  gap: 5px; /* Espacement entre le label et l'input */
  margin-bottom: 4%;
}

.historique {
  background-color: rgba(64,64,64,.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #999; /* Bordure grise fine */
  color: white;
  font-weight: bold;
  position: absolute;
  right: 0;
  margin-right: 3%;
  margin-top: 26%;
  width: 28%;
  height: 35%;
}

.historique-table ::ng-deep .p-datatable-table {
  margin-left: 17px;;
  margin-right: 25px;;
  width: 90%!important;
  background-color: transparent;

}

.badge-del:hover {
   cursor: pointer;
}

.historique-table th,
.historique-table tr,
.historique-table td {
  background-color: rgba(64,64,64,.9);
  color: white;
  border: none; /* Optionnel : Supprimer les bordures si nécessaire */
}
