<div class="grid-background">
  <div class="image-background"></div>
  <div class="container">
    <div class="title-page">
      Modification des rangs
    </div>
    <div>
      <p-listbox
        (click)="selectNewRank(selectedRank)"
        class="ranks-list"
        [options]="ranks"
        [(ngModel)]="selectedRank"
        optionLabel="name"
        [listStyle]="{ 'max-height': '32rem' }"
        [style]="{ width: '12rem' }">
        <ng-template let-selectedRank pTemplate="item" >
          <div class="flex align-items-center gap-30" (click)="selectNewRank(selectedRank)">
            <img
              [src]="'http://localhost:8080/images/' + selectedRank.picture"
              style="width: 35px" (click)="selectNewRank(selectedRank)"/>
          </div>
        </ng-template>
      </p-listbox>
      <div class="rank-info">
        <div class="rank-details">
        <img [src]="'http://localhost:8080/images/' + selectedRank.picture" alt="{{  selectedRank.name }}" class="rank-image" />
          <div class="rank-name">{{ selectedRank.name }}</div>
          <div class="rank-points">Points: {{ selectedRank.points }}</div>
          <div class="rank-position">Classement: #{{ selectedRank.rank }}</div>
          <div class="rank-position">Nombre de victoire: {{ selectedRank.victory }}</div>
        </div>
      </div>
    </div>
    <div class="historique" *ngIf="selectedRank != null && selectedRank.name != ''">
      <div class="title-historique">
        Historique
      </div>
      <p-table [value]="historique" class="historique-table">
        <ng-template pTemplate="header">
          <tr>
            <th>Joueur</th>
            <th>Points</th>
            <th>Console</th>
            <th>Coupe</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-line>
          <tr>
            <td>{{ line.player.name }}</td>
            <td>{{ line.points }}</td>
            <td>{{ line.console.name }}</td>
            <td>{{ line.cups.name }}</td>
            <p-badge [value]="'X'" severity="danger" class="badge-del" (click)="deleteHistorique(line)"/>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="update-infos" >
      <div class="input-container">
        <div class="points-container">
          <label for="pointToAdd">Points à ajouter</label>
          <p-inputNumber
            inputId="pointToAdd"
            [(ngModel)]="valueToAdd" />
        </div>

        <p-dropdown
          (click)="onConsoleSelected()"
          class="dropdown-console"
          [options]="consoles"
          [(ngModel)]="selectedConsole"
          optionLabel="name"
          [showClear]="true"
          [virtualScroll]="true"
          placeholder="Choisir une console">
          <ng-template pTemplate="selectedConsole">
            <div class="flex align-items-center gap-2" *ngIf="selectedConsole">
              <img
                [src]="'http://localhost:8080/images/consoles/' + selectedConsole.picture"
                style="width: 70px" />
              <div>{{ selectedConsole.name }}</div>
            </div>
          </ng-template>
          <ng-template let-selectedConsole pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img
                [src]="'http://localhost:8080/images/consoles/' + selectedConsole.picture"
                style="width: 70px" />
              <div>{{ selectedConsole.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <div class="points-container">
          <label>Victoire</label>
          <p-inputSwitch [(ngModel)]="victory" />
        </div>
      </div>
    </div>
    <div class="update-infos" >
      <div *ngIf="selectedConsole != null && selectedConsole.name != ''">
        <p-dropdown
          class="dropdown-console"
          [options]="cups"
          [(ngModel)]="selectedCups"
          optionLabel="name"
          [showClear]="true"
          placeholder="Choisir une cups">
          <ng-template pTemplate="selectedCups">
            <div class="flex align-items-center gap-2" *ngIf="selectedCups">
              <img
                [src]="'http://localhost:8080/images/cup/'+ selectedConsole.name + '/' + selectedCups.picture"
                style="width: 70px" />
              <div>{{ selectedCups.name }}</div>
            </div>
          </ng-template>
          <ng-template let-selectedCups pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img
                [src]="'http://localhost:8080/images/cup/'+ selectedConsole.name + '/' + selectedCups.picture"
                style="width: 70px" />
              <div>{{ selectedCups.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <p-button
        class="update-button"
        label="Mettre à jour le participant"
        icon="pi pi-check"
        [loading]="loading"
        [disabled]="isUpdateButtonAvailable()"
        (onClick)="updatePlayer()"/>
    </div>
    </div>

</div>

<p-toast />
