.grid-background {
  background-color: rgba(45,45,45,.7); /* Couleur de fond foncée */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 30px 30px; /* Taille de chaque cellule de la grille */
  width: 100%;
  height: 93vh; /* S'étend sur toute la hauteur de la fenêtre */
}

.image-background {
  background-image: url('/assets/wallpaper/wallpaper4.jpeg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(3px); /* Applique un flou sur le fond */
  z-index: -1; /* Place le fond derrière le contenu */
}

.title-page {
  height: 80px;
  width: 400px;
  margin-top: 2%;
  color: white;
  font-weight: bold;
  font-size:28px;
  display: flex;
  flex-direction: column; /* Met les éléments en colonne (verticalement) */
  justify-content: center;
  align-items: center; /* Centre tout horizontalement */
}

.console-container, .title-page {
  background-color: rgba(64,64,64,.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #999; /* Bordure grise fine */
}

.container {
  display: flex;
  flex-direction: column; /* Met les éléments en colonne (verticalement) */
  justify-content: center;
  align-items: center; /* Centre tout horizontalement */
}

.console-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Aligne les éléments en bas */
  gap: 30px;
  margin-top: 5%;
  height: 300px; /* Ajuste la hauteur globale */
}

.console-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Place les éléments en bas */
  text-align: center;
  height: 100%; /* S'assure que les éléments remplissent la hauteur du parent */
  margin: 20px;
}

.slot-image {
  max-width: 100%;
  object-fit: contain; /* Évite la déformation de l'image */
  margin-bottom: 10px; /* Ajoute un petit espacement entre l'image et l'input */
}

.save-button {
  margin-top: 3%;
}
