<div class="grid-background">
  <div class="image-background"></div>
  <div class="container">
    <div class="title-page">
      Gestions des consoles
    </div>

    <div class="console-container">
      @for (counter of counters; track counter; let index = $index) {
        <div class="console-item">
          <p-image class="slot-image" [src]="'http://localhost:8080/images/consoles/'+ counter.console + '.png'" width="200"></p-image>
          <p-inputNumber [(ngModel)]="consolesValues[index]"></p-inputNumber>
        </div>
      }
    </div>
    <p-button class="save-button" label="Sauvegarder" (click)="onSaveCounters()" />
  </div>
</div>


<p-toast />
