<div class="image-wrapper">
  <div class="image-background"></div>
  <p-button class="button-spiner"
            [disabled]="isLoading"
            label="Tourner la roue"
            (click)="onSpin()"></p-button>
  <div class="grid-container" [ngStyle]="{'grid-template-columns': 'repeat(' + calculateConsolesPerLine() + ', 1fr)'}">
    <div *ngFor="let console of consolesDisplayed; let index = index"
         class="grid-column">
      <div>{{ console.name }}</div> <!-- Texte au-dessus de l'image -->
      <p-image class="slot-image"
               [src]="'http://localhost:8080/images/consoles/' + console.picture"
               alt="personnage"
               width="100">
      </p-image>
      <div class="cup-container">
        <p-image
          [src]="allCupsImages[index]"
          width="80"/>
      </div>
    </div>
  </div>
</div>
