.grid-container {
  display: grid;
   /* 10 colonnes égales */
  height: 60vh; /* Prend toute la hauteur de la fenêtre */
  margin-top: 2%;
  gap: 10px;
}

.grid-column {
  height: 100%; /* Chaque colonne prend toute la hauteur */
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(64,64,64,.9);
  border: 2px solid #999;
  border-radius: 20px;
}

.slot-image {
  margin-top: 10px; /* Ajouter un peu d'espace entre le texte et l'image */
}

.image-background {
  background-image: url('/assets/wallpaper/wallpaper5.jpg');
  background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(3px); /* Applique un flou sur le fond */
    z-index: -1; /* Place le fond derrière le contenu */
}

.image-wrapper {
  height: 93vh;
  width: 100%;
}

.button-spiner ::ng-deep .p-button {
  width: 500px;
  margin-top: 1%;
  background: linear-gradient(to right, rgba(65, 65, 65, 0) 0%, rgba(65, 65, 65, 0.9) 50%, rgba(65, 65, 65, 0) 100%);
  border: none; /* Enlève la bordure si tu veux un style lisse */
}
.button-spiner {
  display: flex;
  justify-content: center; /* Centre horizontalement */
}

.button-spiner:hover {
  transform: scale(1.005);
}

.cup-container {
  background-color: rgba(0,0,0,.65);
  bottom: 5%;
  width: 130px;
  height: 130px;
  position: relative;
  margin-top: 60%;
  display: flex;
  justify-content: space-between; /* Assure l'espacement entre les divs */
  align-items: flex-start;
  border: 4px solid #c4bb23;
  border-radius: 10px;
}

.grid-column, .cup-container {
  display: flex;
  flex-direction: column; /* Place les éléments en colonne (texte au-dessus de l'image) */
  align-items: center; /* Centre le texte et l'image horizontalement */
  justify-content: center; /* Optionnel : centre verticalement */
  text-align: center;
}
